@model Warehouse.Model.Vendor.VendorModel

<div>
    <h4>Thêm mới nhà cung cấp</h4>
    <hr />
    <form asp-controller="Vendor" asp-action="Create">
        <div class="form-body">
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="Code" class="control-label"></label>
                    <input asp-for="Code" class="form-control" min="0" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" min="0" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" min="0" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ContactPerson" class="control-label"></label>
                    <input asp-for="ContactPerson" class="form-control" min="0" />
                    <span asp-validation-for="ContactPerson" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" min="0" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" min="0" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group form-group-sm">
                    Trang thai
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.Inactive)
                    </div>
                </div>
            </div>
            <div class="modal-footer form-actions">
                <button type="submit" class="btn btn-success btn-sm">
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>
