@model Warehouse.Model.InwardDetail.InwardDetailModel

<div>
    <h4>Thêm vật tư</h4>
    <hr />
    <form id="data" asp-controller="Inward" asp-action="AddItem">
        <div class="form-body">
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="ItemId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.ItemId, Model.AvailableItem, "Vật tư", new { @class = "form-control",id="Item", style = "width: 100%" })
                    <span asp-validation-for="ItemId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UnitId" class="control-label"></label>
                    @Html.DropDownListFor(m => m.UnitId, Model.AvailableUnit, "Đơn vị", new { @class = "form-control",id="Unit", style = "width: 100%" })
                    <span asp-validation-for="UnitId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Uiquantity" class="control-label"></label>
                    <input asp-for="Uiquantity" class="form-control" min="0" />
                    <span asp-validation-for="Uiquantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Uiprice" class="control-label"></label>
                    <input asp-for="Uiprice" class="form-control" min="0" />
                    <span asp-validation-for="Uiprice" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" min="0" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Amount" class="control-label"></label>
                    <input asp-for="Amount" class="form-control" min="0" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Status" class="control-label"></label>
                    <input asp-for="Status" class="form-control" min="0" />
                    <span asp-validation-for="Status" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DepartmentId" class="control-label"></label>
                    <input asp-for="DepartmentId" class="form-control" min="0" />
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccountMore" class="control-label"></label>
                    <input asp-for="AccountMore" class="form-control" min="0" />
                    <span asp-validation-for="AccountMore" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccObjectId" class="control-label"></label>
                    <input asp-for="AccObjectId" class="form-control" min="0" />
                    <span asp-validation-for="AccObjectId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AccountYes" class="control-label"></label>
                    <input asp-for="AccountYes" class="form-control" min="0" />
                    <span asp-validation-for="AccountYes" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EmployeeId" class="control-label"></label>
                    <input asp-for="EmployeeId" class="form-control" min="0" />
                    <span asp-validation-for="EmployeeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StationId" class="control-label"></label>
                    <input asp-for="StationId" class="form-control" min="0" />
                    <span asp-validation-for="StationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProjectId" class="control-label"></label>
                    <input asp-for="ProjectId" class="form-control" min="0" />
                    <span asp-validation-for="ProjectId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <input asp-for="CustomerId" class="form-control" min="0" />
                    <span asp-validation-for="CustomerId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Serial" class="control-label"></label>
                    <input asp-for="Serial" class="form-control" min="0" />
                    <span asp-validation-for="Serial" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer form-actions">
                <button id="saveItem" type="submit" class="btn btn-success btn-sm">
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>


<script>

        $("#data" ).submit(function( event ) {
                event.preventDefault();
                $("#Item").val();
                $("#Unit").val();
                $("#Uiquantity").val();
                $("#Quantity").val();
                $("#Uiprice").val();
                $("#Amount").val();
                $("#Status").val();
                $("#DepartmentId").val();
                $("#AccObjectId").val();
                $("#AccountMore").val();
                $("#AccountYes").val();
                $("#EmployeeId").val();
                $("#StationId").val();
                $("#ProjectId").val();
                $("#CustomerId").val();
                $("#Serial").val();

                //list text
                var textItem="";
                 $("#Item option").each(function()
                {
                    var idSelect=$("#Item").val();
                    if($(this).val()===idSelect)
                    textItem=$(this).text();                                       
                });

                var textUnit="";
                 $("#Unit option").each(function()
                {
                    var idSelect=$("#Unit").val();
                    if($(this).val()===idSelect)
                    textUnit=$(this).text();                                       
                });

                var tem={
                    itemId:$("#Item").val(),
                    item:textItem,
                    unit:textUnit,
                    unitId:$("#Unit").val(),
                    uiquantity:$("#Uiquantity").val(),
                    uiprice:$("#Uiprice").val(),
                    amount:$("#Amount").val(),
                    status:$("#Status").val(),
                    departmentId:$("#DepartmentId").val(),
                    accObjectId:$("#AccObjectId").val(),
                    accountMore:$("#AccountMore").val(),
                    accountYes:$("#AccountYes").val(),
                    employeeId:$("#EmployeeId").val(),
                    stationId:$("#StationId").val(),
                    projectId:$("#ProjectId").val(),
                    customerId:$("#CustomerId").val(),
                    quantity:$("#Quantity").val(),
                    serial:$("#Serial").val(),
                }

                listDetalis.push(tem);
                $("#table-list tbody tr").remove();
                for(var i=0;i<listDetalis.length;i++)
                {
                    var tem=listDetalis[i];
                    var rawjs=`<tr>
                <td>
                <select class="form-control" data-val="true" data-val-required="The ItemId field is required." id="Item" name="ItemId" style="width: 100%">
                <option value="`+listDetalis[i].itemId+`">`+listDetalis[i].item+`</option>
                </select>
                </td>

                <td>
                <select class="form-control" data-val="true" data-val-required="The UnitId field is required." disabled="disabled" name="UnitId" style="width: 100%">
                <option value="`+listDetalis[i].unitId+`">`+listDetalis[i].unit+`</option>
                </select>
                </td>

                <td>
                  `+listDetalis[i].uiquantity+`
                </td>
                <td>
                    `+listDetalis[i].uiprice+`
                </td>
                <td>
                    `+listDetalis[i].amount+`
                </td>
                <td>
                    `+listDetalis[i].status+`
                </td>
                <td>
                    `+listDetalis[i].departmentId+`
                </td>
                <td>
                    `+listDetalis[i].employeeId+`
                </td>
                <td>
                    `+listDetalis[i].stationId+`
                </td>
                <td>
                    `+listDetalis[i].projectId+`
                </td>
                <td>
                    `+listDetalis[i].customerId+`
                </td>
                <td>
                     <button id='btnremove' class="btn btn-danger"><i class="fa-solid fa-trash-can"></i> Xóa</button>
                </td>
            </tr>`;
                    $("#table-list tbody").append(rawjs);
                }
        $("body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle > button").click();

        });

        //remove
        $("#table-list").on('click', '#btnremove', function () {
            $(this).closest('tr').remove();
        });

        $("#Item").on("change", function (e) {
            $('#Unit').empty();

                        $.ajax({
                            type: 'GET',
                            data: { id: $("#Item").val() },
                        dataType: 'json',
                        url: '@Url.Action("GetWareHouseItemUnitByItemId", "Inward")',
                                success: function (msg) {
                                  if(msg && msg.length>0)
                                  {
                                      for(var i=0;i<msg.length;i++)
                                      {
                                          var tem=msg[i];
                                           var o = new Option(tem.text, tem.id);
                                            $(o).html(tem.text);
                                            $("#Unit").append(o);
                                      }

                                  }
                                }
                    });

            return false;
        });

</script>
