@model Warehouse.Model.CreatedBy.CreatedByModel

<div>
    <h4>Sửa tài khoản</h4>
    <hr />
    <form asp-controller="CreatedBy" asp-action="Edit">
        <div class="form-body">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="DateCreate" />
            <input type="hidden" asp-for="DateRegister" />
            <input type="hidden" asp-for="Password" />
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="AccountName" class="control-label"></label>
                    <input asp-for="AccountName" class="form-control" min="0" />
                    <span asp-validation-for="AccountName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateCreate" class="control-label"></label>
                    <input asp-for="DateCreate" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="DateCreate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateRegister" class="control-label"></label>
                    <input asp-for="DateRegister" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="DateRegister" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" min="0" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    <select asp-for="Role">
                                    <option value="Admin">Quản trị</option>
                                    <option value="User">Người dùng</option>
                                </select>
                    <span asp-validation-for="Role" class="text-danger"></span>
                </div>
            </div>
            <div class="modal-footer form-actions">
                <button type="submit" class="btn btn-success btn-sm">
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>
