@model Warehouse.Model.Unit.UnitModel

<div>
    <h4>Chi tiết đơn vị tính</h4>
    <hr />
    <form asp-controller="Unit" asp-action="Detail">
        <div class="form-body">
            <input type="hidden" asp-for="Id" />
            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="UnitName" class="control-label"></label>
                    <input asp-for="UnitName" class="form-control" min="0" readonly="@(true)" />
                    <span asp-validation-for="UnitName" class="text-danger"></span>
                </div>
                <div class="form-group form-group-sm">
                    Trang thai
                    <div class="col-md-9">
                        @Html.DisplayFor(m => m.Inactive)
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
